/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: linear-gradient(to right, #3477eb, #34baeb);
}

.cursor-pointer {
  cursor: pointer;
}

.ionicon {
  width: 1.5rem;
  height: auto;
}

.ionicon path {
  fill: white;
  stroke: white;
}
